* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(82, 80, 80);
   
}
.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    color: #fff;
    /*margin-right: 1%;*/
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 2.7rem;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.oculto li {
    opacity: 0;
}

.fly-in-text.oculto li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.fly-in-text.oculto li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.fly-in-text.oculto li:nth-child(3) { transform: translateX(-150px) translateY(-80px);}
.fly-in-text.oculto li:nth-child(4) { transform: translateX(-10px) translateY(-200px); }
.fly-in-text.oculto li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.oculto li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.oculto li:nth-child(7) { transform: translateX(30px) translateY(200px); }

.title {
    text-align: center;
    color: floralwhite;
}
.map {
   
}
.icon-search {
    color: #fff;
    padding: 2%;
}
.search {
    display: inline-block;
    outline: 1px solid #fff;
    padding: 0;
}
input {
    outline: none;
}
.menus {
    margin-top: 2%;
    text-align: center;
    float: right;
}
.men {
    margin: 2px;
    padding-left: 0;
    padding-right: 0;
}