<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="container">
        <h1 class="title">Foodmap</h1>
    </header>
    <hr>
    <!--********************* MAP PRINCIPAL *******************-->
    <div class="container ">
        <img src="../assets/images/map.png" class="img-responsive" alt="map">
    </div>
    <div class="container">
        <div class="sub-title">
            <h2>Comida cerca de ti</h2>
        </div>
        <div class="search col-xs-12">
            <input type="text"  class="buscar col-xs-10"><a href="#" class="col-xs-2" id="search"><i class="icon-search"></i></a>
        </div>
    </div>
    <!--****************** CONTENEDOR/IMAGENES *******************-->
    <div>
    <div class=" row menus col-xs-12 ">
            <img class="men" data-imag="ima1" data-target="#miventana" data-toggle="modal" id="ima1"  src="../assets/images/dos.jpg" alt="">
            <img class="men" data-imag="ima2" data-target="#miventana" data-toggle="modal" id="ima2" src="../assets/images/uno.jpg" alt="">
            <img class="men" data-imag="ima3" data-target="#miventana" data-toggle="modal" id="ima3" src="../assets/images/tres.jpg" alt="">
            <img class="men" data-imag="ima4" data-target="#miventana" data-toggle="modal" id="ima4" src="../assets/images/tres.jpg" alt="">
            <img class="men" data-imag="ima5" data-target="#miventana" data-toggle="modal" id="ima5" src="../assets/images/dos.jpg" alt="">
    </div> 
    <!--**************************** VENTANA MODAl *************************-->
    <div class="modal fade" id="miventana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Ceviche Picante</h3>
                </div>
                <div class="container">
                    <div class=" col-sm-10 col-md-8 col-lg-6">
                        <img src="../assets/images/map.png" class="img-responsive mod-imag" alt="">
                    </div>
                    <div class="col-sm-12">
                        <h4>Ceviche para todos los gustos</h4>
                    </div>
                </div>
                <div class="textos ">
                   <div class="col-xs-6 col-sm-6">
                       <h4>Av.Benavides #1340 Miraflores ciudad de lima</h4>
                   </div>
                   <div class="col-xs-6 col-sm-6">
                       <h4>Rango Precio S/80.00 <br>
                            Servicio a domicilio
                       </h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">pedir ahora</button>
                </div>
            </div>
        </div>
    </div>
    </div> 
   
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script> 
<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>  
<script src="../js/conten.js"></script>
</body>
</html>